# <div style="color:white;display:fill;border-radius:5px;background-color:#F28482;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:100%">Data Preprocessing</p></div>

In [1]:
import numpy as np
import pandas as pd
import datetime
import os
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_colwidth', None)

# <div style="color:white;display:fill;border-radius:5px;background-color:#F28482;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:100%">Data Extracting</p></div>

In [2]:
current_dir = os.getcwd()

ROOT_DIR = os.path.abspath(os.path.join(current_dir, '..'))
DATA_RAW_PATH = os.path.join(ROOT_DIR, 'data', 'raw', 'kc_house_data.csv')

In [3]:
#Reading raw data
df_raw = pd.read_csv(DATA_RAW_PATH)

In [4]:
df = df_raw.copy()

In [5]:
#Checking some useful info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

In [6]:
#Checking missing values
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [7]:
#Checking duplicated "id" values
df.duplicated(subset='id').sum()

177

In [8]:
#Removing duplicated "id" values and keep last record
df=df.drop_duplicates(subset=['id'], keep='last')

In [9]:
#Dealing with some inconsistent data
bad_values = (df['bedrooms'] > 10)
df = df[~bad_values]

In [10]:
#Fixing data types
df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d", errors='coerce')

# <div style="color:white;display:fill;border-radius:5px;background-color:#F28482;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:100%">Feature Engineering</p></di>

In [11]:
#Decomposing in year, month, day, weekday
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.weekday + 1

In [12]:
df["house_age"] = df['year'] - df['yr_built']
df['price_sqft'] = round(df['price'] / df['sqft_living'],2)

# <div style="color:white;display:fill;border-radius:5px;background-color:#F28482;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:100%">Saving Preprocessed Data</p></div>

In [13]:
DATA_PROCESSED_PATH = os.path.join(ROOT_DIR, 'data', 'processed', 'kc_house_data_processed.csv')

In [14]:
df.to_csv(DATA_PROCESSED_PATH, index=False)